@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
    --color-primary: oklch(0.59 0.1389 241.97);
    --color-secondary: oklch(0.59 0.1389 241.97);
    --color-dark: oklch(0.19 0.0319 251.4);
}